<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>Free Code Camp Backend Development Projects</title>

<%- include css-includes %>


<%- include navbar %>

<h1>Login</h1>

<a href="/auth/facebook"><button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</button></a>
<%- include script-includes %>


