<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<%- include navbar %>

<div class="row top-10-down ">
	<div class="container-fluid col-lg-4 col-xs-10 col-lg-offset-4 col-xs-offset-1 bg-white box-shadow">
		<div class="row bg-primary"><h1>Sign In</h1></div>
			<form action="/login" method="post">
			
			<div class="row">
				<div class="container-fluid col-lg-3 col-xs-12">
					<label>Username:</label>
				</div>
				
				<div class="container-fluid col-lg-9 col-xs-12">
					<input type="text" name="username" class="form-control pull-right" />	
				</div>	
			</div>
			
			<div class="row">
				<div class="container-fluid col-lg-3 col-xs-12">
					<label>Password:</label>
				</div>
				
				<div class="container-fluid col-lg-9 col-xs-12">
					<input type="password" name="password" class="form-control pull-right"  />	
				</div>	
			</div>
			
					<input type="submit" value="Login" class="btn btn-primary pull-right margin-10">
			</form>
	</div>
</div>

