

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<body class="container-fluid">
<div>
	<div class="nav-bar bg-primary box-shadow container-fluid">
		<a href="/auth/facebook" class="pull-right" title="Sign in" id="nav-login"><i class="fa fa-2x fa-sign-in" aria-hidden="true"></i></a>
	</div>
	<div id="nav-text"></div>
</div>