<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<%- include navbar %>


<div class="row top-10-down ">
	<div class="container-fluid col-lg-10 col-xs-12 col-lg-offset-1 bg-white box-shadow">
		<div class="row bg-primary"><h1>Settings</h1></div>
			<div id="detailArea">
					<div class="form-group">
						<label>DB Connection String</label> <input class="form-control" rows="1" id="dbStringBox"></input>
						<label>DB Username</label> <input class="form-control" rows="1" id="dbUsernameBox"></input>
						<label>DB Password</label> <input type="password" class="form-control password" rows="1" id="dbPasswordBox"></input>
						<label>Verify password</label> <input type="password" class="form-control password" rows="1" id="verifyPasswordBox"></input>
					</div>
			</div>
	</div>
</div>